/* background-color: #242424; 
 background-color: #1a1a1a;
 color: #213547;
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #0d1217;
  padding: 20px;
}

@media (max-width: 748px) {
  body {
    overflow-x: auto;
    width: 748px;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  body {
    padding: 0;
  }
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2a3942;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b7b8c;

  border: 3px solid #2a3942;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6b7b8c #2a3942;
}

.no_message_global {
  text-align: center;
  padding: 10px;
  color: gold;
  margin-top: 20px;
}
